<%- include("partials/header") -%>

<main>

  <% if (studySets.length === 0) { %>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">You have no study sets yet.</h1>
        <p class="lead text-muted">Sets you create will be displayed here.</p>
        <p>
          <a href="/creation" class="btn btn-primary my-2">Create Set</a>
        </p>
      </div>
    </div>
  </section>

  <% } else { %>


  <div class="album py-5">
    <div class="container">
      <div class="row">

        <% studySets.forEach(function(studySet) { %>
            <div class="col-sm-4">
              <a href="/studyset/<%=username%>/<%=studySet.title%>" class="latest-card card">
                <div class="card-body">
                  <h5 class="card-title"><%= studySet.title %></h5>
                  <p class="card-text"><%= studySet.flashCards.length %> terms</p>
                </div>
              </a>
            </div>
        <% }); %>

        <div id="addCardDiv"></div>
      </div>
    </div>
  </div>

  <% } %>

</main>

<%- include("partials/footer") -%>
